<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- ?product=Mickey&lastname=Mouse -->
        <p>For Listing</p>
        <form action="/productList" method="get">
          Keywords:<br>
          <span>* for more than 1 keyword use comma. Example: games, mobiles</span>
          <br>
          <input type="text" name="keyword">
          <br>
          <!-- Last name:<br>
          <input type="text" name="lastname" value="Mouse">
          <br><br> -->
          <input type="submit" value="Submit">
        </form> 

    <p>Data from API</p>
  </body>
</html>
