<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- list -->
    <div>
            <% data.forEach(function(list) {%>
              <h2><%= list.keyword %></h2>
              <table class="table table-bordered">
                  <tr>
                      <td>Name</td>
                      <td>Price</td>
                      <td>Review</td>
                      <td>Link</td>
                  </tr>

                  <% list.list.forEach(function(l, i) { 
                    if(i< 5) { %>
                    <tr>
                        <td><%= l.name %></td>
                        <td>$<%= l.price %></td>
                        <td><%= l.customerReview %></td>
                        <td><a href="#" class="btn btn-dark">Click Here</a></td>
                    </tr>
                <% } }); %>
              </table>
              <% });%>
    </div>
  </body>
</html>
