<!--<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    &lt;!&ndash; Custom fonts for this template&ndash;&gt;
    <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    &lt;!&ndash; Custom styles for this template&ndash;&gt;
    <link href="../../stylesheets/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            &lt;!&ndash; Nested Row within Card Body &ndash;&gt;
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                                </div>
                            </div>
                            <a href="login.html" class="btn btn-primary btn-user btn-block">
                                Register Account
                            </a>

                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="login.html">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

&lt;!&ndash; Bootstrap core JavaScript&ndash;&gt;
<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

&lt;!&ndash; Core plugin JavaScript&ndash;&gt;
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

&lt;!&ndash; Custom scripts for all pages&ndash;&gt;
<script src="../../js/sb-admin-2.min.js"></script>

</body>

</html>-->
<html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Admin Login By Zaki">
    <meta name="description" content="Admin Login By Zaki">
    <title>Let's Roll</title>
    <script src="https://use.fontawesome.com/fbf13eceb7.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style>
        * {
            margin: 0px;
            padding: 0px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            box-sizing: border-box;
        }

        body {

            background: linear-gradient(9deg, rgb(211, 217, 231), rgb(175, 186, 206));
            background: -webkit-linear-gradient(9deg, rgb(211, 217, 231), rgb(175, 186, 206));
            font-family: 'Roboto', sans-serif;
            overflow: hidden;


        }


        .biggest {
            margin: 80px 10%;
        }


        /* Start Navigation here */
        .nav {
            background-color: #fff;
            min-width: 160px;
            min-height: 470px;
            float: left;
            position: relative;
            padding: 0px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);


        }

        .nav ul {
            margin: 0;
            padding: 0;
        }

        .nav ul li {
            list-style: none;
            padding: 20px 0px;
        }

        .nav ul li a {
            display: block;
            padding: 0px 11px;
            text-decoration: none;
            color: #BEBEC0;
            font-weight: 400;
            font-size: 14px;

        }

        .nav ul li a i {
            display: block;
        }

        hr {
            padding: 25px 5px;
            background-color: #031DD2;
            position: absolute;
            display: block;
            top: 26%;
            left: 0px;
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

        }

        .nav ul .move2:hover~hr {
            top: 41%;
        }

        .nav ul .move3:hover~hr {
            top: 56%;
        }

        .nav ul .move4:hover~hr {
            top: 71%;
        }

        .fa {
            color: #BEBEC0;
        }

        /* Start Navigation here */

        /* Start Introduction */
        .intro {
            background-color: #1A33D5;
            min-height: 520px;
            min-width: 500px;
            position: absolute;
            top: -30px;
            left: 153px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: -10px 2px 10px rgba(0, 0, 0, 0.16);
            z-index: 999;

        }

        .intro .par {
            text-align: start;
        }

        .intro .par h3 {
            color: #fff;
            font-size: 26px;
            text-shadow: 0 2px 30px rgba(0, 0, 0, .4);
            margin-bottom: 15px;

        }

        .intro .par span {
            color: #fff;
            font-size: 17px;
            font-weight: 100;
            opacity: .9;
            line-height: 30px;
            font-family: 'Open Sans', sans-serif;



        }

        .intro .par .social {
            margin-top: 150px;
        }

        .intro .par .social .fa {
            color: #fff;
        }

        .intro .par .social a {

            margin-right: 15px;
        }

        /* End Introduction */

        /* Start The Forms */

        .container {
            position: relative;
            left: 654px;
        }

        .logged {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .container .login {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            min-width: 160px;
            min-height: 470px;
            border-radius: 0px 10px 10px 0px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
            padding: 40px;
            padding-top: 80px;
        }

        .container .login p {
            color: #BEBEC0;
            font-size: 13px;
            font-weight: 500;
            line-height: 20px;
        }

        .container .login p span a,
        .container .login p span {
            color: #1A33D5;
            font-weight: 900;
            font-size: 14px;
            text-decoration: none;
        }

        .container .login input {
            display: block;
            margin-top: 20px;
            padding: 13px 15px;
            width: 275px;
            color: #BEBEC0;
            outline: none;
            transition: .6s linear;
            color: #757575;
            border: 0;
            box-shadow: -9px 7px 17px #ddd;
            transition: .6s ease-in-out;

        }

        .container .login input:focus {

            border: 2px solid #4259DD;

        }

        .container .login button {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin: 35px auto;
            background-color: #1A33D5;
            color: #fff;
            outline: none;
            display: block;
            border: 0px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            cursor: pointer;
        }

        .container .login button:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        .container .login button .fa {
            color: #fff;
            font-size: 20px;

        }

        /* reg form */

        .container .reg {
            position: absolute;
            top: 0;
            left: -357px;
            background-color: #fff;
            min-width: 160px;
            min-height: 470px;
            border-radius: 0px 10px 10px 0px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
            padding: 40px;
            padding-top: 40px;
            transition: .5s cubic-bezier(0.4, 0.0, 1, 1);
        }

        .container .reg p {
            color: #BEBEC0;
            font-size: 13px;
            font-weight: 500;
            line-height: 20px;
        }

        .container .reg p span a,
        .container .reg p span {
            color: #1A33D5;
            font-weight: 900;
            font-size: 14px;
            text-decoration: none;
        }

        .container .reg input {
            display: block;
            margin-top: 20px;
            padding: 13px 15px;
            width: 275px;
            color: #BEBEC0;
            outline: none;
            transition: .6s linear;
            color: #757575;
            border: 0;
            box-shadow: -9px 7px 17px #ddd;
            transition: all .6s ease-in-out;

        }

        .container .reg input:focus {

            border: 2px solid #4259DD;

        }

        .container .reg button {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin: 15px auto;
            background-color: #1A33D5;
            color: #fff;
            outline: none;
            display: block;
            border: 0px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            cursor: pointer;

        }

        .container .reg button:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        .container .reg button .fa {
            color: #fff;
            font-size: 20px;
        }

        .regopen {
            left: 0 !important;
        }

        /* reg end form */


        /* End Of the Forms */
    </style>
</head>

<body>

    <div class="biggest">
        <!-- Start Navigation here-->

        <div class="nav">
            <ul>

                <li><img src="https://i.imgur.com/cqN7DSd.png" width="70" height="70" /></li>
                <li class="move1"><a class="login1" href="#"><i class="fa fa-user-o" aria-hidden="true"></i> Login</a>
                </li>
                <li class="move2"><a class="sign-up" href="#"><i class="fa fa-user-o" aria-hidden="true"></i> Sign
                        Up</a></li>
                <hr />
            </ul>

            <!-- Start Introduction here-->
            <div class="intro">
                <div class="par">
                    <h3>Welcome, Let's Roll!</h3>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!-- End Introduction here-->
        </div>
        <!-- End Navigation here-->

        <!-- Start Login Form here-->
        <div class="container">
            <div class="logged">
                <div class="login">
                    <p><span>Login</span> To your account to see what <br>we have for you.</p><br>
                    <form>
                        <input type="email" id="email" name="email" placeholder="Enter Enter Email ID" />
                        <input type="password" id="password" name="password" placeholder="Enter your Password" />
                        <!--                    <span><input type="submit" value=""><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span>-->
                        <button id="loginBtn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                    </form>
                    <br>
                    <p>Dont't Have an account ?<span><a class="sign-up" href="#"> Sign up</a></span></p>
                </div>
            </div>
            <!-- register -->
            <div class="reg">
                <p><span>Register !</span> New account to see what <br>we have for you.</p><br>
                <form>
                    <input type="text" id="name" name="name" placeholder="Enter full name" />
                    <input type="email" id="signUpEmail" name="email" placeholder="Enter Email ID" />
                    <input type="password" id="signUpPassword" name="password" placeholder="Enter password" maxlength="20"/>
                    <!--<span><input type="submit" value=""><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span>-->
                    <button id="signUpBtn"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </form><br>
                <p>Already Have An account ?<span class="login1"><a href="#"> Log in</a></span></p>
            </div>
            <!-- register -->
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script type='text/javascript' src="/../../js/jquery-1.12.4.min.js"></script>
    <script type='text/javascript' src="/../../js/api.js"></script>
    <script>
        $(document).ready(function () {
            $(".sign-up").click(function () {
                $(".reg").toggleClass("regopen");
            });
            $(".login1").click(function () {
                $(".reg").removeClass("regopen");
            });
        });

        const EMAIL_REGX =  /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        $('#loginBtn').click((e) => {
            e.preventDefault;
            let email = document.getElementById('email').value
            let password = document.getElementById('password').value
            if (email == '' || password == '') {
                alert("Please fill all field")
                return false
            } else if (!EMAIL_REGX.test(email)) {
                alert("Invalid Email")
                return false
            }
            let res = callApi({ email, password }, "/login", 'POST')
            return false
        })

        $('#signUpBtn').click((e) => {
            e.preventDefault;
            let name = document.getElementById('name').value
            let email = document.getElementById('signUpEmail').value
            let password = document.getElementById('signUpPassword').value
            if (name == '' || email == '' || password == '') {
                alert("Please fill all field")
                return false
            } else if (!EMAIL_REGX.test(email)) {
                alert("Invalid Email")
                return false
            }
            //create User API call
            console.log("signUpObj ===================", { name, email, password })
            let res = callApi({ email, name, password }, "/signup", 'POST')
            return false
        })

        function callApi(data = null, api = null, type) {
            try {
                fetch(api, {
                    method: type,
                    body: JSON.stringify({ data }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    response.json().then(resp => {
                        if (resp.error) {
                            alert(resp.msg)
                            return;
                            // return document.querySelector('#response').textContent = 
                        }
                        alert(resp.msg)
                        localStorage.setItem('userName', resp.data.user.name)
                        window.location.href = resp.url
                        return resp
                        // window.location.reload()
                    })
                })
            } catch (e) {
                console.error("e===========", e)
                alert(e)
            }

        }
    </script>
</body>

</html>