<%- include('../partials/header.ejs') %>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit Template</h1>
    <a href="/user/template" class="d-sm-inline-block btn btn-sm btn-primary"><i
            class="fa fa-align-justify fas text-white-50"></i> View All Templates</a>
</div>

<div class="row mb-4">

    <!-- Edit Template Form -->
    <div class="col-xl-8">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Edit Template</h6>
            </div>
            <div class="card-body">
                <form method="post" action="/template/edit">
                    <div class="form-group">
                        <label>Template Name</label>
                        <input class="form-control" id="templateName" value="<%= template.templateName %>" type="text"
                            placeholder="Enter template name">
                    </div>
                    <div class="form-group">
                        <label>Post Title</label>
                        <input class="form-control" id="postTitle" value="<%= template.postTitle %>" type="text"
                            placeholder="Enter post title">
                    </div>
                    <div class="form-group">
                        <label>Post Content</label>
                        <!-- <textarea class="form-control" id="postContent" rows="10"></textarea> -->
                        <div id="postContent" value="<%= template.postContent %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Template Category</label>
                        <select class="form-control" id="templateCategory" value="<%= template.templateCategory %>">
                            <option disabled>Select</option>
                            <option>Review</option>
                            <option>Top & Best</option>
                            <option>Comparison</option>
                        </select>
                    </div>
                </form>
            </div>
            <p id="response"></p>
            <div class="card-footer">
                <div class="text-left">
                    <div class="btn-group-sm">
                        <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#contentPreview"
                            onclick="previewTemplate()"><i class="fa fas fa-eye text-white-50"></i> Preview</a>
                        <a class="btn btn-success" href="javascript:void(0)"
                            onclick="updateById('<%=template._id %>', 'template')"><i
                                class="fa fas fa-save text-white-50"></i> Update</a>
                        <a class="btn btn-dark" href="#"><i class="fa fas fa-trash-alt text-white-50"></i> Cancel</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Instructions -->
    <div class="col-xl-4">
        <div class="card shadow-sm">
            <div class="card-header">
                <span>System Variables</span>
            </div>
            <div class="card-body">


                <p>Get your keyword use: <kbd>
                        <<spane>%=keyword%</spane>>
                    </kbd> </p>
                <div class="clearfix"></div>
                <p>Get product data, use these variables: </p>
                <table class="table table-bordered table-hover">
                    <tr>
                        <td>Product One</td>
                    </tr>
                    <tr>
                        <td>
                            <kbd>
                                <<spane>%=product_name_1%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                            <kbd>
                                <<spane>%=product_price_1%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                            <kbd>
                                <<spane>%=product_link_1%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                            <kbd>
                                <<spane>%=product_image_1%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                        </td>
                    </tr>

                    <tr>
                        <td>Product Two</td>
                    </tr>
                    <tr>
                        <td>
                            <kbd>
                                <<spane>%=product_name_2%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                            <kbd>
                                <<spane>%=product_price_2%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                            <kbd>
                                <<spane>%=product_link_2%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                            <kbd>
                                <<spane>%=product_image_2%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Product Three</td>
                    </tr>
                    <tr>
                        <td>
                            <kbd>
                                <<span>%=product_name_3%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                            <kbd>
                                <<span>%=product_price_3%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                            <kbd>
                                <<span>%=product_link_3%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                            <kbd>
                                <<span>%=product_image_3%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                        </td>
                    </tr>

                    <tr>
                        <td>Product Four</td>
                    </tr>
                    <tr>
                        <td>
                            <kbd>
                                <<spane>%=product_name_4%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                            <kbd>
                                <<spane>%=product_price_4%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                            <kbd>
                                <<spane>%=product_link_4%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                            <kbd>
                                <<spane>%=product_image_4%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                        </td>
                    </tr>

                    <tr>
                        <td>Product Five</td>
                    </tr>
                    <tr>
                        <td>
                            <kbd>
                                <<spane>%=product_name_5%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                            <kbd>
                                <<spane>%=product_price_5%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                            <kbd>
                                <<spane>%=product_link_5%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                            <kbd>
                                <<spane>%=product_image_5%</span>>
                            </kbd>
                            <div class="clearfix"></div>
                        </td>
                    </tr>

                </table>

            </div>
        </div>
    </div>

</div>

<!-- Content Preview Modal -->
<div id="contentPreview" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Content Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1 class="font-weight-bold">
                    <div id='prepostTitle'></div>
                </h1>
                <br>
                <div id='prepostContent'></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal"><i
                        class="fa fas fa-close text-white-50"></i> Close</button>
            </div>
        </div>
    </div>
</div>



<script src="../../js/api.js" type="text/javascript"></script>
<script src="../../js/quilljs.js" type="text/javascript"></script>
<script>
    document.getElementsByClassName('ql-editor')[0].innerHTML = '<%=template.postContent %>'
</script>


<%- include('../partials/footer.ejs') %>