<%- include('../partials/header.ejs') %>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Templates</h1>
    <a href="/user/template/add" class="d-sm-inline-block btn btn-sm btn-primary"><i
            class="fa fa-plus text-white-50"></i> Add New</a>
</div>
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Templates</h6>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <td>S.No.</td>
                    <td>Template Name</td>
                    <td>Template Category</td>
                    <td>Action</td>
                </thead>
                <tbody>
                <% if(list.length) {
                        list.forEach(function(l, i) {%>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= l.templateName %></td>
                        <td><%= l.templateCategory %></td>
                        <td>
                            <div class="btn-group-sm">
                                <a href="template/preview?id=<%= l._id %>" class="btn btn-primary"><i
                                        class="fa fa-eye"></i></a>
                                <a href="template/edit?id=<%= l._id %>" class="btn btn-primary"><i
                                        class="fa fa-pencil-alt"></i></a>
                                <a href="javascript:void(0)" class="btn btn-danger"
                                    onclick="deleteById('<%= l._id %>', 'template')"><i class="fa fa-trash-alt"></i></a>
                            </div>
                        </td>
                    <% }) } else { %>
                        <td colspan="4">No Data Found</td>
                    <% } %>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="../../js/api.js" type="text/javascript"></script>

<%- include('../partials/footer.ejs') %>