<%- include('../partials/header.ejs') %>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Template Preview</h1>
    <a href="/user/template" class="d-sm-inline-block btn btn-sm btn-primary"><i class="fa fa-backward text-white-50"></i> Go Back</a>
</div>
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary"><%=Obj.templateName %></h6>
        </div>
        <div class="card-body">
            <h1><%=Obj.postTitle %></h1>
            <%- Obj.postContent %>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>