<%- include('../partials/header.ejs') %>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Automation Count -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Automation</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=  autoCount%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-robot fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Keywords Count -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Keywords</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=  keywordCount%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-key fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pushed Articles -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Pushed</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=  pushedCount%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa fa-rocket fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Credit Left -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Credit</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= credit%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Content Row -->


<div class="col-xl-12 mb-4">
    <div class="card">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Automations</h6>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                <td>S.No.</td>
                <td>Keywords</td>
                <td>Template</td>
                <td>Site</td>
                <td>Status</td>
                </thead>
                <tbody>
                <% automation.forEach(function(l, i) {%>
                    <tr>
                        <td><%= i+1%></td>
                        <td style=" max-width: 40px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;"><%= l.keywords %></td>
                        <td><%= l.templateName %></td>
                        <td><%= l.site %></td>
                        <!-- <td>
                            <%= new Date(l.created_at).getDate() %>-<%= new Date(l.created_at).getMonth() + 1 %>-<%= new Date(l.created_at).getFullYear() %>
                        </td> -->
                        <td><span class="badge <%= l.status == 'running' ? 'badge-primary' : l.status == 'error' ? 'badge-danger' : 'badge-success' %> badge-pill"><%= l.status %></span></td>
                        <!-- <td>
                            <a href="#" class="btn btn-group-sm btn-sm btn-primary disabled"><i class="fa fa-rocket text-white-50"></i> Push</a>
                        </td> -->
                    </tr>
                    <% })%>
                </tbody>
            </table>
        </div>
    </div>
</div>


<%- include('../partials/footer.ejs') %>