<%- include('../partials/header.ejs') %>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"> User Settings</h1>
</div>

<div class="row mb-4">


    <div class="col-xl-12">

            <!-- tab nav -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="true">Basic</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Buy Credit</a>
                </li>
            </ul>

            <!-- tab content -->
            <div class="tab-content" id="myTabContent">

                <!-- basic tab -->
                <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <div class="card card-body border-top-0" style="border-radius: 0px;">
                        <form>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control" type="text" placeholder="Enter your name">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Email ID</label>
                                        <input class="form-control" type="email" placeholder="Enter your email">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer border">
                        <div class="btn-group-sm">
                            <a href="#" class="btn btn-success"><i class="fa fa-save text-white-50"></i> Save</a>
                            <a href="#" class="btn btn-dark"><i class="fa fa-trash-alt text-white-50"></i> Cancel</a>
                        </div>
                    </div>
                </div>

                <!-- settings tab -->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="card card-body border-top-0" style="border-radius: 0px;">
                        <form>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control" type="text" placeholder="Enter your name">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Email ID</label>
                                        <input class="form-control" type="email" placeholder="Enter your email">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer border">
                        <div class="btn-group-sm">
                            <a href="#" class="btn btn-success"><i class="fa fa-save text-white-50"></i> Save</a>
                            <a href="#" class="btn btn-dark"><i class="fa fa-trash-alt text-white-50"></i> Cancel</a>
                        </div>
                    </div>
                </div>

                <!-- buy credit tab -->
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="card card-body border-top-0" style="border-radius: 0px;">
                        <form>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control" type="text" placeholder="Enter your name">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Email ID</label>
                                        <input class="form-control" type="email" placeholder="Enter your email">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer border">
                        <div class="btn-group-sm">
                            <a href="#" class="btn btn-success"><i class="fa fa-save text-white-50"></i> Save</a>
                            <a href="#" class="btn btn-dark"><i class="fa fa-trash-alt text-white-50"></i> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>





</div>

<%- include('../partials/footer.ejs') %>