<%- include('../partials/header.ejs') %>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Update Site</h1>
    <a href="/user/sites" class="d-sm-inline-block btn btn-sm btn-primary"><i class="fa fa-align-justify fas text-white-50"></i> View All Sites</a>
</div>

<div class="row">

    <!-- Update Site Form -->
    <div class="col-xl-8">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Update Site</h6>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Site Name</label>
                        <input class="form-control" value='<%=site.siteName %>' type="text" id="siteName" placeholder="Enter site name">
                    </div>
                    <div class="form-group">
                        <label>Site URL</label>
                        <input class="form-control" value='<%=site.siteUrl %>' type="url" id="siteUrl" placeholder="Enter site url">
                    </div>
                    <div class="form-group">
                        <label>Site Username</label>
                        <input class="form-control" value='<%=site.siteUserName %>' type="text" id="siteUserName" placeholder="Enter site username">
                    </div>
                    <div class="form-group">
                        <label>Site Password</label>
                        <input class="form-control" type="password" id="sitePassword" placeholder="Enter site password">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="text-left">
                    <div class="btn-group-sm">
                        <p id="response"></p>
                        <a class="btn btn-success" href="javascript:void(0)" onclick="updateById('<%=site._id %>', 'sites')"><i class="fa fas fa-save text-white-50"></i> Save</a>
                        <a class="btn btn-dark" href="javascript:void(0)" onclick="resetUpdateSiteObj()"><i class="fa fas fa-trash-alt text-white-50"></i> Cancel</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Instructions -->
    <div class="col-xl-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <p>You need to install <a href="https://github.com/PI-Media/json-api" rel="nofollow" target="_blank">WP
                        JSON API WordPress Plugin</a> to enable the WP JSON API and push the content to your website through our tool.</p>
                <p>
                    <strong>Follow The Steps:</strong>
                </p>
                <ul>
                    <li>Download the plugin from the GIT Repository.</li>
                    <li>Unload and activate the plugin into your WP Site.</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<%- include('../partials/footer.ejs') %>