<%- include('../partials/header.ejs') %>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">All Sites</h1>
    <a href="/user/sites/add" class="d-sm-inline-block btn btn-sm btn-primary"><i class="fa fa-plus text-white-50"></i>
        Add New Site</a>
</div>
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Sites</h6>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <td>S.No.</td>
                    <td>Site Name</td>
                    <td>Site URL</td>
                    <td>Action</td>
                </thead>
                <tbody>
                    <tr>
                        <% if(list.length) {
                        list.forEach( function(l,i) { %>
                        <td><%= i + 1%></td>
                        <td><%= l.siteName %></td>
                        <td><%= l.siteUrl %></td>
                        <td>
                            <div class="btn-group-sm">
                                <a href="/user/sites/edit?id=<%= l._id %>" class="btn btn-primary"><i
                                        class="fa fa-pencil-alt"></i></a>
                                <a href="javascript:void(0)" class="btn btn-danger"
                                    onclick="deleteById('<%= l._id %>', 'site')"><i class="fa fa-trash-alt"></i></a>
                            </div>
                        </td>
                        <% }) } else { %>
                            <td colspan="4">No Data Found</td>
                        <% } %>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>