<%- include('../partials/header.ejs') %>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add Automation</h1>
    <a href="/user/automation/" class="d-sm-inline-block btn btn-sm btn-primary"><i class="fa fa-align-justify fas text-white-50"></i> View All Automations</a>
</div>

<div class="row">


    <!-- Add Automation Form -->
    <div class="col-xl-8">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Add Automation</h6>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Multiple Keywords</label>
                        <textarea class="form-control" rows="10" id="keywords"
                                  placeholder="Enter comma separated keywords ..."></textarea>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>Template</label>
                                <select class="form-control" id="template">
                                    <option>Select</option>
                                    <% tempList.forEach(function(l) {%>
                                        <option value="<%= l.id %>"> <%= l.templateName %></option>
                                    <%}) %>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>Site</label>
                                <!-- sites -->
                                <select class="form-control" id="site">
                                    <option>Select</option>
                                    <% sites.forEach(function(l) {%>
                                        <option value="<%= l.id %>"> <%= l.siteName %></option>
                                    <%}) %>
                                </select>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <div class="text-left">
                    <div class="btn-group-sm">
                        <p id="response"></p>
                        <a class="btn btn-success" href="javascript:void(0)" onclick="addAutomation()"><i class="fas fa fa-running text-white-50"></i> Run</a>
                        <a class="btn btn-dark" href="javascript:void(0)" onclick="resetAutomation()"><i class="fa fa-trash-alt fas text-white-50"></i> Cancel</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Instructions -->
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <p>You're not allowed to enter more than 10 keywords at a time. Use comma for keyword separation.</p>
            </div>
        </div>
    </div>

</div>

<script src="../../js/api.js" type="text/javascript"></script>

<%- include('../partials/footer.ejs') %>