<%- include('../partials/header.ejs') %>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Automation Status</h1>
    <a href="/user/automation/add" class="d-sm-inline-block btn btn-sm btn-primary"><i class="fa fa-plus text-white-50"></i> Add New</a>
</div>
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Automations</h6>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                <td>S.No.</td>
                <td>Keywords</td>
                <td>Template</td>
                <td>Site</td>
                <td>Date (D-M-Y)</td>
                <td>Status</td>
                <td>Action</td>
                </thead>
                <tbody>
                <% if(automation.length) {
                    automation.forEach(function(l, i) {%>
                <tr>
                    <td><%= i+1%></td>
                    <td style=" max-width: 40px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;"><%= l.keywords %></td>
                    <td><%= l.template.templateName %></td>
                    <td><%= l.site.siteName %></td>
                    <td>
                        <%= new Date(l.created_at).getDate() %>-<%= new Date(l.created_at).getMonth() + 1 %>-<%= new Date(l.created_at).getFullYear() %>
                    </td>
                    <td><span class="badge <%= l.status == 'running' ? 'badge-primary' : l.status == 'error' ? 'badge-danger' : 'badge-success' %> badge-pill"><%= l.status %></span></td>
                    <td>
                        <a href="javascript:void(0)" class="btn btn-group-sm btn-sm btn-primary" onclick="runAutomation('<%= l._id %>')" ><i class="fa fa-rocket text-white-50"></i> Push</a>
                    </td>
                <% }) } else { %>
                    <td colspan="7">No Data Found</td>
                <% } %>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>